#Main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}


.title {
    font-size: 50px;
    margin: 20px;
}

.info {
    margin: 20px;
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

.radios{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 10px;
}
.radios > *{
    margin: 5px;
}

.radios_2 > *{
    margin: 5px;
}


#email {
    max-width: 400px;
    padding: 10px;
}

.resultBox {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 55%;
    overflow-y: scroll;
    padding: 20px;
}

.controls {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: auto 0 20px 0;
    height: auto;
}